@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
}

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  
  --color-surface: #ffffff;
  --color-background: #f8fafc;
  
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  
  --color-border: #e2e8f0;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}
